/* --------------------------------*/
/* Start Main Rules */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --background-color: #38ffc6;
    --text-dark: #000;
    --text-white: #fff;
    --light-dark: #464646;

    --deg-color-1: #0FC2C0;
    --deg-color-2: #0CABA8;
    --deg-color-3: #008F8C;
    --deg-color-4: #015958;
    --deg-color-5: #023535;
}

body {
    background-color: var(--background-color);
}

h1 {
    font-size: 50px;
    margin: 40px 0;
    font-weight: bold;
    color: var(--deg-color-5);
}

/* End Main Rules */
/* --------------------------------*/
/* Start Login Form */

form.login {
    width: 300px;
    margin: 5rem auto;
}
form.login .btn {
    width: 100%;
}

/* End Login Form */
/* --------------------------------*/
/* Start Navbar Part */
.navbar {
    background-color: var(--light-dark);
}

.navbar .container .navbar-collapse .navbar-nav .nav-item .active {
    color: var(--deg-color-1);
}

.navbar .container #userTarget {
    color: var(--deg-color-1);
}

.material-symbols-outlined {
    font-size: 16px;
}

.card-header {
    background-color: var(--deg-color-5);
    color: var(--text-white);
}

/* End Bootstrap Edits */
/* --------------------------------*/
/* Start Dashboard Page */
.home-stats .stat {
    padding: 20px;
    font-size: 15px;
    border-radius: 10px;
    color: var(--text-white);
}
.home-stats .stat a {
    color: var(--text-white);
    text-decoration: none;
}
.home-stats .stat a:hover {
    color: var(--deg-color-1);
}
.home-stats .stat span {
    display: block;
    font-size: 60px;
}
.home-stats .stat.st-members {
    background-color: var(--deg-color-2);
}
.home-stats .stat.st-pending {
    background-color: var(--deg-color-3);
}
.home-stats .stat.st-items {
    background-color: var(--deg-color-4);
}
.home-stats .stat.st-comments {
    background-color: var(--deg-color-5);
}

.card_latest_users .card-header {
    display: flex;
    align-items: center;
    gap: 10px;
}
.card_latest_users .card-header .selecting {
    cursor: pointer;
    color: var(--text-white);
    font-size: 25px;
    font-weight: bold;
    margin-left: auto;
}
.card_latest_users .card-header .selecting:hover {
    color: var(--deg-color-1);
}

.card_latest_users .card-body ol li:nth-child(even) {
    background-color: var(--deg-color-3);
}
.card_latest_users .card-body ol li:nth-child(odd) {
    background-color: var(--deg-color-4);
}
.card_latest_users .card-body {
    background-color: var(--text-dark);
    padding: 0;
}
.card_latest_users .card-body ol li {
    color: var(--text-white);
}
.card_latest_users .card-body ol li a {
    display: block;
    color: var(--text-white);
    text-decoration: none;
}
.card_latest_users .card-body ol li a:hover {
    color: var(--deg-color-1);
}

.card_latest_users .card-body ol li .ms-2.me-auto {
    display: -webkit-box;
    -webkit-line-clamp: 3;  /* lines You Want To Show And Hide The Rest */
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* End Dashboard Page */
/* --------------------------------*/
/* Start Member Page */

.container .needs-validation .mb-3 {
    position: relative;
}

.asterisk {
    color: red;
    position: absolute;
    right: -5px;
    font-size: 30px;
    top: 50%;
}


.self_modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0000008b;
    z-index: 5000;
    visibility: hidden;
}
.self_modal.show {
    visibility: visible;
}
.self_modal .card {
    position: relative;
    top: -50%;
    visibility: hidden;
    transition: 0.5s;
    max-width: 50%;
    max-height: 500px;
    margin: 5rem auto;
}
.self_modal.show .card {
    top: 0;
    visibility: visible;
}

.main-table {
    box-shadow: 13px 17px 20px 0px black;
}
.main-table thead tr th {
    background-color: var(--deg-color-4);
}

/* End Member Page */
/* --------------------------------*/
/* Start Categories Page */
.categories-card .card-header {
    font-weight: bold;
}
.categories-card .card-header .ordering a{
    text-decoration: none;
    color: var(--deg-color-3);
}
.categories-card .card-header .ordering a:hover,
.categories-card .card-header .ordering a.active {
    color: var(--deg-color-1);
}
.categories-card .card-body {
    background-color: var(--deg-color-5);
}
.categories-card .face-cat li:nth-child(even) {
    background-color: var(--deg-color-3);
}
.categories-card .face-cat li:nth-child(odd) {
    background-color: var(--deg-color-4);
}
.categories-card .face-cat li {
    color: var(--text-white);
}
.categories-card .face-cat li:hover .editing-btn {
    display: block;
}
.categories-card .face-cat li .editing-btn {
    background-color: var(--deg-color-5);
    text-decoration: none;
    margin-left: 5px;
    transition: 0.5s;
    display: none;
}
.categories-card .face-cat li .editing-btn:hover {
    color: var(--deg-color-1);

}
.categories-card .face-cat li.show .full-view {
    display: inline-block;
}
.categories-card .face-cat li .full-view {
    display: none;
}
/* End Categories Page */
/* --------------------------------*/